<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <!-- <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li> -->
      <!-- <li data-target="#carouselExampleIndicators" data-slide-to="1"></li> -->
      <!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active"  data-interval="2000">
        <%= image_tag "index.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item"  data-interval="2000">
        <%= image_tag "index1.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item"  data-interval="2000">
        <%= image_tag "index2.jpg", class: "d-block w-100" %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    

    <%= render 'layouts/recent_posts' %>
    <div class="col text-center">
      <h4>Connect With Us</h4>
      <p><a href="https://www.facebook.com/NeoBlog-110278534998899">
        <i class="fa fa-facebook-f"></i>
      </a>
      </a>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-instagram"></i>
      </p>
      <p>
      Copyright © 2022 All rights reserved 
      </p>
    </div>
  </div>
</div>

